:root {
  --title-font: "Raleway", без засечек;
  --text-font: "Roboto", без засечек;
  --accent-color: #2196f3;
  --font-size: 14px;
  --letter-spacing: 0.03em;
}

body {
  font-family: var(--text-font);
  color: #212121;
}
/*сброс  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}
.link {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.about-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.navigation-list-link .navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-family: var(--title-font);
  color: #2196f3;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.modal-btn {
  font-weight: bold;
  font-size: 16;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: var (--text-font);
}

.subtitle-light-theme {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-list-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.title-hero {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1,16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.comand-title-hero {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,18;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-color {
  color: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1,19;
  letter-spacing: 0.03em;
}
.navigation-logo-color {
  color: #212121;
}

.imel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.comand-light {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1,18;
  letter-spacing: 0.03em;
  color: #757575;
}

/* portfolio */
/* .about {
}
.about-box {
}
.about-box-list {
}
.about-box-list-item {
} */
.box-modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* .border {
}
.border-box {
}
.border-social-links {
}
.border-links-item {
} */
.border-title-hero {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.border-light {
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.adress{
position: absolute;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #0c0c0c;
}